##### goodbye swap files
.*.sw*
*.swp
**/*.*.swp

##### potentially conflicting model scripts/archives
run_it
run_history/

##### data directories
data/
raw/
frames/

##### latex nonsense
*.aux
*.log
out/

##### scary files
*.tar.gz
